<footer class="footer">

    <a href="" class="footer__url-main-1 footer__url-main">
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M14.7614 5.20647C14.5642 5.20647 14.4043 5.04657 14.4043 4.84933C14.4043 4.65209 14.5642 4.49219 14.7614 4.49219"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            <path
                d="M14.7612 5.20647C14.9585 5.20647 15.1184 5.04657 15.1184 4.84933C15.1184 4.65209 14.9585 4.49219 14.7612 4.49219"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            <path
                d="M1.22607 4.90229C1.22607 2.87225 2.87175 1.22656 4.90181 1.22656H14.7038C16.7338 1.22656 18.3795 2.87225 18.3795 4.90229V14.7043C18.3795 16.7343 16.7338 18.38 14.7038 18.38H4.90181C2.87175 18.38 1.22607 16.7343 1.22607 14.7043V4.90229Z"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            <path
                d="M9.80301 13.4459C11.8149 13.4459 13.4459 11.8149 13.4459 9.80301C13.4459 7.79112 11.8149 6.16016 9.80301 6.16016C7.79112 6.16016 6.16016 7.79112 6.16016 9.80301C6.16016 11.8149 7.79112 13.4459 9.80301 13.4459Z"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <h5 class="">instagram.com/minh</h5>

    </a>
    <div class="line-dash line-dash-1"></div>

    <a href="" class="footer__url-main-2 footer__url-main">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M0.714355 17.8567V2.14244C0.714355 1.76355 0.864865 1.4002 1.13277 1.13229C1.40068 0.864377 1.76404 0.713867 2.14293 0.713867H17.8572C18.2361 0.713867 18.5995 0.864377 18.8674 1.13229C19.1352 1.4002 19.2858 1.76355 19.2858 2.14244V17.8567C19.2858 18.2356 19.1352 18.599 18.8674 18.8669C18.5995 19.1347 18.2361 19.2853 17.8572 19.2853H13.5715V12.5139H14.5858C14.8169 12.5139 15.0385 12.4221 15.2019 12.2586C15.3654 12.0952 15.4572 11.8736 15.4572 11.6424V10.5424C15.4572 10.428 15.4346 10.3147 15.3909 10.209C15.3471 10.1032 15.2829 10.0072 15.2019 9.92624C15.1211 9.84532 15.0249 9.78114 14.9192 9.73734C14.8135 9.69355 14.7002 9.67101 14.5858 9.67101H13.6286V8.32815C13.6286 7.12815 14.1715 7.12815 14.7144 7.12815H15.4144C15.5294 7.1329 15.6439 7.11231 15.7501 7.06788C15.8562 7.02345 15.9514 6.95624 16.0286 6.87101C16.1116 6.79198 16.1774 6.69657 16.2216 6.59084C16.2659 6.4851 16.2878 6.37134 16.2858 6.25672V5.19958C16.2896 5.08325 16.2705 4.96731 16.2294 4.8584C16.1884 4.74947 16.1264 4.6497 16.0466 4.56478C15.9671 4.47988 15.8715 4.41148 15.7655 4.36352C15.6595 4.31557 15.5449 4.28898 15.4286 4.2853H13.7858C13.3064 4.26727 12.8289 4.35352 12.3861 4.5381C11.9433 4.72265 11.5459 5.00114 11.2213 5.3543C10.8966 5.70747 10.6525 6.12688 10.5058 6.5836C10.3591 7.04031 10.3133 7.52342 10.3715 7.99958V9.67101H9.45721C9.34158 9.66911 9.22673 9.69025 9.11934 9.7332C9.01196 9.77614 8.9142 9.84002 8.83177 9.92114C8.74933 10.0023 8.68386 10.099 8.63917 10.2056C8.59448 10.3123 8.57148 10.4268 8.5715 10.5424V11.6424C8.57148 11.7581 8.59448 11.8726 8.63917 11.9793C8.68386 12.0859 8.74933 12.1826 8.83177 12.2637C8.9142 12.3449 9.01196 12.4087 9.11934 12.4517C9.22673 12.4946 9.34158 12.5158 9.45721 12.5139H10.3715V19.2853H2.14293C1.76404 19.2853 1.40068 19.1347 1.13277 18.8669C0.864865 18.599 0.714355 18.2356 0.714355 17.8567Z"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <h5 class="">instagram.com/minh</h5>

    </a>
    <div class="line-dash  line-dash-2"></div>

    <a href="" class="footer__url-main-3 footer__url-main">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M10.0003 1.25586C5.23606 1.25734 1.25563 5.24291 1.25565 10.0033C1.25566 11.7195 1.76645 13.4148 2.71981 14.848L1.25293 18.7507L6.16493 17.8624C7.36483 18.4489 8.68243 18.7427 10.0003 18.7436C14.7687 18.7469 18.7529 14.7666 18.7529 10.0033C18.7529 5.24541 14.7673 1.25305 10.0003 1.25586Z"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            <path
                d="M10.482 13.8554C11.6654 14.6151 12.8992 14.0618 13.7584 13.4209C14.3519 12.9783 14.3322 12.1245 13.8253 11.5848L12.8257 10.5207C12.4466 10.8999 11.7077 11.0875 11.1943 10.9313C10.0908 10.5954 9.62764 10.0204 9.25231 9.43576C8.82125 8.76425 9.30804 7.76135 9.68721 7.38219L8.57305 6.36503C8.10334 5.93623 7.38988 5.86387 6.98005 6.35023C6.16917 7.31249 5.66487 8.7734 6.26211 9.70362C7.33425 11.3735 8.81202 12.7834 10.482 13.8554Z"
                stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <h5 class="">instagram.com/minh</h5>

    </a>
    <div class="line-dash  line-dash-3"></div>

    <a href="" class="footer__logo">
        <svg width="154" height="36" viewBox="0 0 154 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M60.84 30C61.1333 30.2667 61.52 30.4 62 30.4C62.4533 30.4 62.8133 30.2667 63.08 30C63.3733 29.7067 63.52 29.32 63.52 28.84V10.08C63.52 9.6 63.3733 9.22667 63.08 8.96C62.8133 8.66667 62.4533 8.52 62 8.52C61.52 8.52 61.1333 8.66667 60.84 8.96C60.5733 9.22667 60.44 9.6 60.44 10.08V28.84C60.44 29.32 60.5733 29.7067 60.84 30ZM60.44 3.72C60.8667 4.14667 61.3733 4.36 61.96 4.36C62.5733 4.36 63.0933 4.14667 63.52 3.72C63.9467 3.29333 64.16 2.77333 64.16 2.16C64.16 1.49333 63.9333 0.973334 63.48 0.599999C63.0533 0.2 62.56 0 62 0C61.4133 0 60.8933 0.2 60.44 0.599999C60.0133 0.973334 59.8 1.49333 59.8 2.16C59.8 2.77333 60.0133 3.29333 60.44 3.72ZM75.4825 29.16C77.1358 30.12 79.0158 30.6 81.1225 30.6C84.0292 30.6 86.4558 29.7067 88.4025 27.92C88.6958 27.6533 88.8158 27.3333 88.7625 26.96C88.7358 26.5867 88.5625 26.2533 88.2425 25.96C87.9492 25.72 87.6292 25.6133 87.2825 25.64C86.9358 25.6667 86.6025 25.8133 86.2825 26.08C85.6158 26.6667 84.8425 27.1067 83.9625 27.4C83.1092 27.6667 82.1625 27.8 81.1225 27.8C79.5758 27.8 78.2025 27.44 77.0025 26.72C75.8025 26 74.8692 25.0133 74.2025 23.76C73.5358 22.5067 73.2025 21.08 73.2025 19.48C73.2025 17.8533 73.5092 16.4133 74.1225 15.16C74.7625 13.9067 75.6425 12.92 76.7625 12.2C77.9092 11.48 79.2292 11.12 80.7225 11.12C83.0692 11.12 85.0158 12 86.5625 13.76C86.8292 14.08 87.1358 14.28 87.4825 14.36C87.8558 14.4133 88.1892 14.3333 88.4825 14.12C88.8558 13.8533 89.0825 13.5467 89.1625 13.2C89.2425 12.8267 89.1358 12.48 88.8425 12.16C87.8025 10.88 86.5892 9.92 85.2025 9.28C83.8425 8.64 82.3492 8.32 80.7225 8.32C78.6692 8.32 76.8558 8.81333 75.2825 9.8C73.7092 10.76 72.4692 12.08 71.5625 13.76C70.6558 15.44 70.2025 17.3467 70.2025 19.48C70.2025 21.5867 70.6692 23.48 71.6025 25.16C72.5625 26.84 73.8558 28.1733 75.4825 29.16ZM99.2716 29.16C100.898 30.12 102.738 30.6 104.792 30.6C106.738 30.6 108.472 30.16 109.992 29.28C111.253 28.5403 112.293 27.5964 113.112 26.4484V28.88C113.112 29.3333 113.258 29.7067 113.552 30C113.845 30.2667 114.218 30.4 114.672 30.4C115.125 30.4 115.498 30.2667 115.792 30C116.085 29.7067 116.232 29.3333 116.232 28.88V19.48C116.205 17.3467 115.698 15.44 114.712 13.76C113.752 12.08 112.432 10.76 110.752 9.8C109.098 8.81333 107.218 8.32 105.112 8.32C103.005 8.32 101.112 8.81333 99.4316 9.8C97.7516 10.76 96.4182 12.08 95.4316 13.76C94.4716 15.44 93.9916 17.3467 93.9916 19.48C93.9916 21.5867 94.4582 23.48 95.3916 25.16C96.3516 26.84 97.6449 28.1733 99.2716 29.16ZM109.232 26.72C108.032 27.44 106.658 27.8 105.112 27.8C103.592 27.8 102.218 27.44 100.992 26.72C99.7649 26 98.7916 25.0133 98.0716 23.76C97.3516 22.48 96.9916 21.0533 96.9916 19.48C96.9916 17.88 97.3516 16.4533 98.0716 15.2C98.7916 13.9467 99.7649 12.96 100.992 12.24C102.218 11.4933 103.592 11.12 105.112 11.12C106.658 11.12 108.032 11.4933 109.232 12.24C110.458 12.96 111.418 13.9467 112.112 15.2C112.832 16.4533 113.192 17.88 113.192 19.48C113.192 21.0533 112.832 22.48 112.112 23.76C111.418 25.0133 110.458 26 109.232 26.72ZM150.662 30C150.955 30.2667 151.329 30.4 151.782 30.4C152.235 30.4 152.595 30.2667 152.862 30C153.155 29.7067 153.302 29.3333 153.302 28.88V17.36C153.302 15.52 152.955 13.92 152.262 12.56C151.595 11.2 150.649 10.1467 149.422 9.4C148.222 8.65333 146.835 8.28 145.262 8.28C143.609 8.28 142.129 8.65333 140.822 9.4C139.68 10.0527 138.751 10.9398 138.037 12.0613C137.393 10.9398 136.534 10.0527 135.462 9.4C134.262 8.65333 132.875 8.28 131.302 8.28C129.755 8.28 128.369 8.65333 127.142 9.4C126.447 9.82277 125.834 10.3396 125.302 10.9504V10.08C125.302 9.62667 125.155 9.25333 124.862 8.96C124.595 8.66667 124.235 8.52 123.782 8.52C123.302 8.52 122.915 8.66667 122.622 8.96C122.355 9.25333 122.222 9.62667 122.222 10.08V28.88C122.222 29.3333 122.355 29.7067 122.622 30C122.915 30.2667 123.302 30.4 123.782 30.4C124.235 30.4 124.595 30.2667 124.862 30C125.155 29.7067 125.302 29.3333 125.302 28.88V17.04C125.302 15.3067 125.835 13.9067 126.902 12.84C127.969 11.7467 129.329 11.2 130.982 11.2C132.529 11.2 133.795 11.76 134.782 12.88C135.769 13.9733 136.262 15.4667 136.262 17.36V28.88C136.262 29.3333 136.409 29.7067 136.702 30C136.995 30.2667 137.369 30.4 137.822 30.4C138.275 30.4 138.635 30.2667 138.902 30C139.195 29.7067 139.342 29.3333 139.342 28.88V17.36L139.342 17.28L139.341 17.2423L139.341 17.2208C139.326 15.4085 139.833 13.9616 140.862 12.88C141.929 11.76 143.289 11.2 144.942 11.2C146.489 11.2 147.755 11.76 148.742 12.88C149.729 13.9733 150.222 15.4667 150.222 17.36V28.88C150.222 29.3333 150.369 29.7067 150.662 30ZM7.56 29.4C8.68 30.0667 9.94667 30.4 11.36 30.4H12.2C12.68 30.4 13.08 30.2667 13.4 30C13.72 29.7067 13.88 29.3333 13.88 28.88C13.88 28.4267 13.7467 28.0533 13.48 27.76C13.2133 27.4667 12.8667 27.32 12.44 27.32H11.36C10.1067 27.32 9.08 26.8933 8.28 26.04C7.48 25.16 7.08 24.04 7.08 22.68V12H11.6C12 12 12.3333 11.88 12.6 11.64C12.8667 11.3733 13 11.0533 13 10.68C13 10.28 12.8667 9.96 12.6 9.72C12.3333 9.45333 12 9.32 11.6 9.32H7.08V3.12C7.08 2.66667 6.93333 2.29333 6.64 2C6.34667 1.70667 5.97333 1.56 5.52 1.56C5.06667 1.56 4.69333 1.70667 4.4 2C4.13333 2.29333 4 2.66667 4 3.12V9.32H1.4C1 9.32 0.666667 9.45333 0.4 9.72C0.133333 9.96 0 10.28 0 10.68C0 11.0533 0.133333 11.3733 0.4 11.64C0.666667 11.88 1 12 1.4 12H4V22.68C4 24.1733 4.32 25.5067 4.96 26.68C5.6 27.8267 6.46667 28.7333 7.56 29.4ZM21.9338 16.92V28.88C21.9338 29.36 21.8004 29.7333 21.5338 30C21.2671 30.2667 20.8938 30.4 20.4137 30.4C19.9338 30.4 19.5604 30.2667 19.2938 30C19.0271 29.7333 18.8937 29.36 18.8937 28.88V10.04C18.8937 9.56 19.0271 9.18667 19.2938 8.92C19.5604 8.65333 19.9338 8.52 20.4137 8.52C20.8938 8.52 21.2671 8.65333 21.5338 8.92C21.8004 9.18667 21.9338 9.56 21.9338 10.04V11.7663C22.6516 10.7937 23.5183 10.005 24.5338 9.4C25.8138 8.65333 27.2271 8.28 28.7738 8.28C30.0004 8.28 30.9471 8.45333 31.6138 8.8C32.2804 9.14667 32.5338 9.65333 32.3737 10.32C32.2671 10.72 32.0804 10.9867 31.8138 11.12C31.5738 11.2533 31.2671 11.3067 30.8938 11.28C30.5471 11.2533 30.1471 11.2267 29.6938 11.2C28.2004 11.0667 26.8671 11.2267 25.6938 11.68C24.5471 12.1067 23.6271 12.7733 22.9338 13.68C22.2671 14.5867 21.9338 15.6667 21.9338 16.92ZM47.9531 5.11782C48.6612 5.54776 48.8867 6.47034 48.4568 7.17847L31.8495 34.5317C31.4196 35.2398 30.497 35.4653 29.7888 35.0354C29.0807 34.6054 28.8552 33.6829 29.2851 32.9747L45.8924 5.62153C46.3224 4.91341 47.2449 4.68789 47.9531 5.11782ZM41.0025 4.15589L42.2698 6.37296L40.4899 9.30448L38.398 5.64463C37.9869 4.92541 38.2367 4.00909 38.9559 3.59799C39.6751 3.18688 40.5914 3.43666 41.0025 4.15589ZM45.3741 17.8493L54.6534 34.0834C55.0645 34.8026 55.9808 35.0524 56.7001 34.6413C57.4193 34.2301 57.6691 33.3138 57.258 32.5946L47.154 14.9178L45.3741 17.8493Z"
                fill="white" />
        </svg>

    </a>
    <p class="footer__disclaimer">All terms belong to the author, dog is cute</p>
    <ul class="footer__list">
        <li class="footer__link footer__link-1"><a href="">・ Learn more</a>

        </li>
        <div class="line-dash  line-dash-4"></div>
        <li class="footer__link footer__link-2"><a href="">
                ・ Privacy
            </a>

        </li>
        <div class="line-dash  line-dash-5"></div>
        <li class="footer__link footer__link-3"><a href="">・ Trai cam</a>

        </li>
        <div class="line-dash  line-dash-6"></div>
        <li class="footer__link footer__link-4"><a href="">・ About</a>

        </li>
        <div class="line-dash  line-dash-7"></div>
    </ul>
</footer>

