<div class="navigation">
    <a href="/campgrounds">

        <svg class="navigation__avatar" width="154" height="36" viewBox="0 0 154 36" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M60.84 30C61.1333 30.2667 61.52 30.4 62 30.4C62.4533 30.4 62.8133 30.2667 63.08 30C63.3733 29.7067 63.52 29.32 63.52 28.84V10.08C63.52 9.6 63.3733 9.22667 63.08 8.96C62.8133 8.66667 62.4533 8.52 62 8.52C61.52 8.52 61.1333 8.66667 60.84 8.96C60.5733 9.22667 60.44 9.6 60.44 10.08V28.84C60.44 29.32 60.5733 29.7067 60.84 30ZM60.44 3.72C60.8667 4.14667 61.3733 4.36 61.96 4.36C62.5733 4.36 63.0933 4.14667 63.52 3.72C63.9467 3.29333 64.16 2.77333 64.16 2.16C64.16 1.49333 63.9333 0.973334 63.48 0.599999C63.0533 0.2 62.56 0 62 0C61.4133 0 60.8933 0.2 60.44 0.599999C60.0133 0.973334 59.8 1.49333 59.8 2.16C59.8 2.77333 60.0133 3.29333 60.44 3.72ZM75.4825 29.16C77.1358 30.12 79.0158 30.6 81.1225 30.6C84.0292 30.6 86.4558 29.7067 88.4025 27.92C88.6958 27.6533 88.8158 27.3333 88.7625 26.96C88.7358 26.5867 88.5625 26.2533 88.2425 25.96C87.9492 25.72 87.6292 25.6133 87.2825 25.64C86.9358 25.6667 86.6025 25.8133 86.2825 26.08C85.6158 26.6667 84.8425 27.1067 83.9625 27.4C83.1092 27.6667 82.1625 27.8 81.1225 27.8C79.5758 27.8 78.2025 27.44 77.0025 26.72C75.8025 26 74.8692 25.0133 74.2025 23.76C73.5358 22.5067 73.2025 21.08 73.2025 19.48C73.2025 17.8533 73.5092 16.4133 74.1225 15.16C74.7625 13.9067 75.6425 12.92 76.7625 12.2C77.9092 11.48 79.2292 11.12 80.7225 11.12C83.0692 11.12 85.0158 12 86.5625 13.76C86.8292 14.08 87.1358 14.28 87.4825 14.36C87.8558 14.4133 88.1892 14.3333 88.4825 14.12C88.8558 13.8533 89.0825 13.5467 89.1625 13.2C89.2425 12.8267 89.1358 12.48 88.8425 12.16C87.8025 10.88 86.5892 9.92 85.2025 9.28C83.8425 8.64 82.3492 8.32 80.7225 8.32C78.6692 8.32 76.8558 8.81333 75.2825 9.8C73.7092 10.76 72.4692 12.08 71.5625 13.76C70.6558 15.44 70.2025 17.3467 70.2025 19.48C70.2025 21.5867 70.6692 23.48 71.6025 25.16C72.5625 26.84 73.8558 28.1733 75.4825 29.16ZM99.2716 29.16C100.898 30.12 102.738 30.6 104.792 30.6C106.738 30.6 108.472 30.16 109.992 29.28C111.253 28.5403 112.293 27.5964 113.112 26.4484V28.88C113.112 29.3333 113.258 29.7067 113.552 30C113.845 30.2667 114.218 30.4 114.672 30.4C115.125 30.4 115.498 30.2667 115.792 30C116.085 29.7067 116.232 29.3333 116.232 28.88V19.48C116.205 17.3467 115.698 15.44 114.712 13.76C113.752 12.08 112.432 10.76 110.752 9.8C109.098 8.81333 107.218 8.32 105.112 8.32C103.005 8.32 101.112 8.81333 99.4316 9.8C97.7516 10.76 96.4182 12.08 95.4316 13.76C94.4716 15.44 93.9916 17.3467 93.9916 19.48C93.9916 21.5867 94.4582 23.48 95.3916 25.16C96.3516 26.84 97.6449 28.1733 99.2716 29.16ZM109.232 26.72C108.032 27.44 106.658 27.8 105.112 27.8C103.592 27.8 102.218 27.44 100.992 26.72C99.7649 26 98.7916 25.0133 98.0716 23.76C97.3516 22.48 96.9916 21.0533 96.9916 19.48C96.9916 17.88 97.3516 16.4533 98.0716 15.2C98.7916 13.9467 99.7649 12.96 100.992 12.24C102.218 11.4933 103.592 11.12 105.112 11.12C106.658 11.12 108.032 11.4933 109.232 12.24C110.458 12.96 111.418 13.9467 112.112 15.2C112.832 16.4533 113.192 17.88 113.192 19.48C113.192 21.0533 112.832 22.48 112.112 23.76C111.418 25.0133 110.458 26 109.232 26.72ZM150.662 30C150.955 30.2667 151.329 30.4 151.782 30.4C152.235 30.4 152.595 30.2667 152.862 30C153.155 29.7067 153.302 29.3333 153.302 28.88V17.36C153.302 15.52 152.955 13.92 152.262 12.56C151.595 11.2 150.649 10.1467 149.422 9.4C148.222 8.65333 146.835 8.28 145.262 8.28C143.609 8.28 142.129 8.65333 140.822 9.4C139.68 10.0527 138.751 10.9398 138.037 12.0613C137.393 10.9398 136.534 10.0527 135.462 9.4C134.262 8.65333 132.875 8.28 131.302 8.28C129.755 8.28 128.369 8.65333 127.142 9.4C126.447 9.82277 125.834 10.3396 125.302 10.9504V10.08C125.302 9.62667 125.155 9.25333 124.862 8.96C124.595 8.66667 124.235 8.52 123.782 8.52C123.302 8.52 122.915 8.66667 122.622 8.96C122.355 9.25333 122.222 9.62667 122.222 10.08V28.88C122.222 29.3333 122.355 29.7067 122.622 30C122.915 30.2667 123.302 30.4 123.782 30.4C124.235 30.4 124.595 30.2667 124.862 30C125.155 29.7067 125.302 29.3333 125.302 28.88V17.04C125.302 15.3067 125.835 13.9067 126.902 12.84C127.969 11.7467 129.329 11.2 130.982 11.2C132.529 11.2 133.795 11.76 134.782 12.88C135.769 13.9733 136.262 15.4667 136.262 17.36V28.88C136.262 29.3333 136.409 29.7067 136.702 30C136.995 30.2667 137.369 30.4 137.822 30.4C138.275 30.4 138.635 30.2667 138.902 30C139.195 29.7067 139.342 29.3333 139.342 28.88V17.36L139.342 17.28L139.341 17.241L139.341 17.2125C139.328 15.4041 139.835 13.9599 140.862 12.88C141.929 11.76 143.289 11.2 144.942 11.2C146.489 11.2 147.755 11.76 148.742 12.88C149.729 13.9733 150.222 15.4667 150.222 17.36V28.88C150.222 29.3333 150.369 29.7067 150.662 30ZM7.56 29.4C8.68 30.0667 9.94667 30.4 11.36 30.4H12.2C12.68 30.4 13.08 30.2667 13.4 30C13.72 29.7067 13.88 29.3333 13.88 28.88C13.88 28.4267 13.7467 28.0533 13.48 27.76C13.2133 27.4667 12.8667 27.32 12.44 27.32H11.36C10.1067 27.32 9.08 26.8933 8.28 26.04C7.48 25.16 7.08 24.04 7.08 22.68V12H11.6C12 12 12.3333 11.88 12.6 11.64C12.8667 11.3733 13 11.0533 13 10.68C13 10.28 12.8667 9.96 12.6 9.72C12.3333 9.45334 12 9.32 11.6 9.32H7.08V3.12C7.08 2.66667 6.93333 2.29333 6.64 2C6.34667 1.70667 5.97333 1.56 5.52 1.56C5.06667 1.56 4.69333 1.70667 4.4 2C4.13333 2.29333 4 2.66667 4 3.12V9.32H1.4C1 9.32 0.666667 9.45334 0.4 9.72C0.133333 9.96 0 10.28 0 10.68C0 11.0533 0.133333 11.3733 0.4 11.64C0.666667 11.88 1 12 1.4 12H4V22.68C4 24.1733 4.32 25.5067 4.96 26.68C5.6 27.8267 6.46667 28.7333 7.56 29.4ZM21.9337 16.92V28.88C21.9337 29.36 21.8004 29.7333 21.5337 30C21.2671 30.2667 20.8938 30.4 20.4138 30.4C19.9337 30.4 19.5604 30.2667 19.2937 30C19.0271 29.7333 18.8938 29.36 18.8938 28.88V10.04C18.8938 9.56 19.0271 9.18667 19.2937 8.92C19.5604 8.65333 19.9337 8.52 20.4138 8.52C20.8938 8.52 21.2671 8.65333 21.5337 8.92C21.8004 9.18667 21.9337 9.56 21.9337 10.04V11.7663C22.6516 10.7937 23.5183 10.005 24.5337 9.4C25.8138 8.65333 27.2271 8.28 28.7737 8.28C30.0004 8.28 30.9471 8.45333 31.6138 8.8C32.2804 9.14667 32.5338 9.65333 32.3738 10.32C32.2671 10.72 32.0804 10.9867 31.8138 11.12C31.5738 11.2533 31.2671 11.3067 30.8938 11.28C30.5471 11.2533 30.1471 11.2267 29.6938 11.2C28.2004 11.0667 26.8671 11.2267 25.6938 11.68C24.5471 12.1067 23.6271 12.7733 22.9338 13.68C22.2671 14.5867 21.9337 15.6667 21.9337 16.92ZM47.9531 5.11782C48.6612 5.54776 48.8867 6.47034 48.4568 7.17847L31.8495 34.5317C31.4196 35.2398 30.497 35.4653 29.7888 35.0354C29.0807 34.6055 28.8552 33.6829 29.2851 32.9747L45.8924 5.62153C46.3224 4.91341 47.2449 4.68789 47.9531 5.11782ZM41.0025 4.15589L42.2698 6.37296L40.4899 9.30448L38.398 5.64463C37.9869 4.92541 38.2367 4.00909 38.9559 3.59799C39.6751 3.18688 40.5914 3.43666 41.0025 4.15589ZM45.3741 17.8493L54.6534 34.0834C55.0645 34.8026 55.9808 35.0524 56.7001 34.6413C57.4193 34.2301 57.6691 33.3138 57.258 32.5946L47.154 14.9178L45.3741 17.8493Z"
                fill="black" />
        </svg>

    </a>

    </a>

    <a href="" class="navigation__link">trợ giúp</a>

    <div class="navigation__user">
        <% if(currentUser){ %>
            <img src="/img/avt-2.png" alt="" class="navigation__user-img">
            <% } else{%>
                <div class="navigation__user-img">
                    <svg class="">
                        <use xlink:href="/img/sprite.svg#icon-user"></use>
                    </svg>
                </div>
                <% } %>
                    </a>
                    <ul class="navigation__user-list">
                        <li class="navigation__user-item">
                            <a href="">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 15L10 10C10 7.23858 12.2386 5 15 5V5C17.7614 5 20 7.23858 20 10L20 15"
                                        stroke="#222222" stroke-linecap="round" />
                                    <path
                                        d="M4.69435 14.9178C4.83942 13.1769 4.91196 12.3065 5.48605 11.7782C6.06013 11.25 6.9336 11.25 8.68053 11.25H21.3195C23.0664 11.25 23.9399 11.25 24.514 11.7782C25.088 12.3065 25.1606 13.1769 25.3057 14.9178L26.0695 24.0839C26.154 25.0974 26.1962 25.6042 25.8991 25.9271C25.602 26.25 25.0935 26.25 24.0764 26.25H5.9236C4.90655 26.25 4.39802 26.25 4.10092 25.9271C3.80382 25.6042 3.84605 25.0974 3.93051 24.0839L4.69435 14.9178Z"
                                        stroke="#222222" />
                                </svg>
                            </a>

                        </li>
                        <li class="navigation__user-item">
                            <a href="">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M18.3638 5.29755C17.3493 4.7863 16.2052 4.5 15.0003 4.5C11.1874 4.5 7.98424 7.36697 7.56318 11.1566L7.24842 13.9893C7.19584 14.4626 7.17151 14.6798 7.13537 14.8918C7.00345 15.6655 6.75087 16.4138 6.38687 17.1092C6.28715 17.2997 6.17488 17.4872 5.92989 17.8956L5.13896 19.2138L5.11731 19.2498L5.1173 19.2499C4.73284 19.8906 4.41506 20.4202 4.23528 20.8537C4.05076 21.2986 3.95193 21.7811 4.2112 22.239C4.47048 22.697 4.93508 22.8605 5.41154 22.9312C5.87577 23 6.4934 23 7.24062 23H7.28269H22.7179H22.76C23.5072 23 24.1249 23 24.5891 22.9312C25.0655 22.8605 25.5301 22.697 25.7894 22.239C26.0487 21.7811 25.9499 21.2986 25.7653 20.8537C25.5856 20.4202 25.2678 19.8906 24.8833 19.2499L24.8833 19.2498L24.8617 19.2138L24.0707 17.8956C23.8258 17.4872 23.7135 17.2997 23.6138 17.1092C23.2498 16.4138 22.9972 15.6655 22.8653 14.8918C22.8291 14.6798 22.8048 14.4626 22.7522 13.9893L22.6456 13.0295C22.3314 13.1319 22.0021 13.2006 21.6618 13.2314L21.7583 14.0998L21.7603 14.1177L21.7603 14.1178C21.8104 14.5686 21.8379 14.8158 21.8795 15.0598C22.029 15.9368 22.3153 16.7848 22.7278 17.573C22.8426 17.7923 22.9706 18.0056 23.2039 18.3945L23.2132 18.41L24.0042 19.7283C24.4158 20.4142 24.6937 20.8801 24.8416 21.2368C24.9882 21.5901 24.9472 21.697 24.9192 21.7463C24.8913 21.7957 24.8207 21.8859 24.4423 21.942C24.0604 21.9987 23.5179 22 22.7179 22H7.28269C6.48272 22 5.94025 21.9987 5.5583 21.942C5.1799 21.8859 5.10936 21.7957 5.0814 21.7463C5.05345 21.697 5.01245 21.5901 5.15899 21.2368C5.30692 20.8801 5.58487 20.4142 5.99646 19.7283L6.78738 18.41L6.79665 18.3946C7.03004 18.0056 7.15805 17.7923 7.27284 17.573C7.68538 16.7848 7.97163 15.9368 8.12114 15.0598C8.16275 14.8158 8.19022 14.5685 8.24031 14.1177L8.24231 14.0998L8.55706 11.267C8.92185 7.98383 11.697 5.5 15.0003 5.5C15.9375 5.5 16.8322 5.69994 17.6414 6.06135C17.8518 5.77945 18.0944 5.52302 18.3638 5.29755ZM20.1158 6.52162C19.8111 6.67707 19.5425 6.8932 19.3259 7.15407C20.4714 8.18024 21.2536 9.61221 21.4408 11.2428C21.79 11.2165 22.1191 11.1185 22.4135 10.9635C22.1728 9.20824 21.3331 7.66156 20.1158 6.52162Z"
                                        fill="#222222" />
                                    <path
                                        d="M11.3778 23.0073C11.5914 23.9376 12.0622 24.7596 12.7171 25.3459C13.3721 25.9322 14.1745 26.25 15 26.25C15.8255 26.25 16.6279 25.9322 17.2829 25.3459C17.9378 24.7596 18.4086 23.9376 18.6222 23.0073"
                                        stroke="#222222" stroke-linecap="round" />
                                    <ellipse cx="21.25" cy="8.75" rx="2.5" ry="2.5" fill="#222222" />
                                </svg>
                            </a>
                        </li>
                        <li class="navigation__user-item">
                            <a href="">
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5 15C5 14.0714 5 13.6071 5.03425 13.2156C5.41491 8.86458 8.86458 5.41491 13.2156 5.03425C13.6071 5 14.0714 5 15 5V5C15.9286 5 16.3929 5 16.7844 5.03425C21.1354 5.41491 24.5851 8.86458 24.9658 13.2156C25 13.6071 25 14.0714 25 15V21.3636C25 22.8983 25 23.6657 24.6011 24.1986C24.4868 24.3512 24.3512 24.4868 24.1986 24.6011C23.6657 25 22.8983 25 21.3636 25H15C14.0714 25 13.6071 25 13.2156 24.9658C8.86458 24.5851 5.41491 21.1354 5.03425 16.7844C5 16.3929 5 15.9286 5 15V15Z"
                                        stroke="black" />
                                    <path d="M11.25 13.75L18.75 13.75" stroke="black" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M15 18.75H18.75" stroke="black" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </a>
                        </li>
                        <li class="navigation__user-item">
                            <a href="">
                                <svg width="33" height="33" viewBox="0 0 33 33" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.125 14.4375H16C16.2761 14.4375 16.5 14.6614 16.5 14.9375V20.8125C16.5 21.0886 16.7239 21.3125 17 21.3125H17.875M16.5 11.6875H16.5138"
                                        stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M18.4101 27.3329C19.8327 27.082 21.192 26.5535 22.4103 25.7773C23.6286 25.0012 24.6821 23.9926 25.5107 22.8093C26.3392 21.626 26.9266 20.2911 27.2393 18.8808C27.5519 17.4705 27.5837 16.0125 27.3329 14.5899C27.082 13.1673 26.5535 11.808 25.7773 10.5897C25.0012 9.37139 23.9926 8.31788 22.8093 7.48933C21.626 6.66077 20.2911 6.0734 18.8808 5.76074C17.4705 5.44809 16.0125 5.41627 14.5899 5.66712C13.1673 5.91796 11.808 6.44654 10.5897 7.2227C9.37139 7.99885 8.31788 9.00736 7.48932 10.1907C6.66077 11.374 6.0734 12.7089 5.76074 14.1192C5.44809 15.5295 5.41627 16.9875 5.66711 18.4101C5.91796 19.8327 6.44654 21.192 7.22269 22.4103C7.99885 23.6286 9.00736 24.6821 10.1907 25.5107C11.374 26.3392 12.7089 26.9266 14.1192 27.2393C15.5295 27.5519 16.9875 27.5837 18.4101 27.3329L18.4101 27.3329Z"
                                        stroke="#222222" />
                                </svg>
                            </a>
                        </li>
                        <% if(currentUser){ %>
                            <li class="navigation__user-item navigation__user-item-logout">
                                <a href="/logout">
                                    <svg width="28" height="28" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7 7.13193V6.61204C7 4.46614 7 3.3932 7.6896 2.79511C8.37919 2.19703 9.44136 2.34877 11.5657 2.65224L15.8485 3.26408C18.3047 3.61495 19.5327 3.79039 20.2664 4.63628C21 5.48217 21 6.72271 21 9.20377V14.7962C21 17.2773 21 18.5178 20.2664 19.3637C19.5327 20.2096 18.3047 20.385 15.8485 20.7359L11.5657 21.3478C9.44136 21.6512 8.37919 21.803 7.6896 21.2049C7 20.6068 7 19.5339 7 17.388V17.066"
                                            stroke="#222222" />
                                        <path
                                            d="M16 12L16.3904 11.6877L16.6403 12L16.3904 12.3123L16 12ZM4 12.5C3.72386 12.5 3.5 12.2761 3.5 12C3.5 11.7239 3.72386 11.5 4 11.5V12.5ZM12.3904 6.68765L16.3904 11.6877L15.6096 12.3123L11.6096 7.31235L12.3904 6.68765ZM16.3904 12.3123L12.3904 17.3123L11.6096 16.6877L15.6096 11.6877L16.3904 12.3123ZM16 12.5H4V11.5H16V12.5Z"
                                            fill="#222222" />
                                    </svg>

                                </a>
                            </li>
                            <% } else{%>
                                <li class="navigation__user-item navigation__user-item-login">
                                    <a href="/register">
                                        <svg width="32" height="32" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="9" cy="14" r="4" stroke="#222222" />
                                            <path d="M12 11L15.5 7.5M17 6L15.5 7.5M15.5 7.5L18 10" stroke="#222222"
                                                stroke-linecap="round" />
                                        </svg>
                                    </a>
                                </li>

                                <% } %>


                    </ul>
    </div>
</div>
<div class="navigation__line"></div>