<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= message %>
    </h1>
    <p>Order ID: <%= orderId %>
    </p>
    <p>Response Code: <%= responseCode %>
    </p>
</body>

</html>